# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.tar.gz
*.zip
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
venv.bak/
*.env

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace